<h1>Todo Liste - Mon Gestionnaire de Tâches</h1>

<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="task.Todo">
  </div>
  <div class="row">
    <input type="date" [(ngModel)]="task.Date">
  </div>
  <div class="row">
    <select id="urgence-select" [(ngModel)]="task.Urgence">
      <option value="faible">Faible</option>
      <option value="moyenne">Moyenne</option>
      <option value="haute">Haute</option>
    </select>
  </div>
  <div class="row">
    <textarea rows="5" cols="40" [(ngModel)]="task.Description"></textarea>
  </div>
  <div class="row">
    <button type="button" name="ajouter">Ajouter</button>
  </div>
</div>

<table class="table">
  <tbody>
    <tr *ngFor = "let task of tasks; let i = index"
    [ngStyle]="{backgroundColor: task.isDone == false ? DonneCouleur(task.Urgence) : '#DCDCDC'}"
    [ngClass]="{'stylechecked': task.isDone}">
      <td>{{task.Todo}}</td>
      <td>{{task.Date}}</td>
      <td>{{task.Urgence}}</td>
      <td><button type="button" class="btn valide" (click)="onCheck(i,true)"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#70B863" class="bi bi-check-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/></svg></button></td>
      <td><button type="button" class="btn btn-outine-danger" (click)="onCheck(i,false)"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#C95F51" class="bi bi-x-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="afficheDetail==false" class="container-fluid" [ngStyle]="{backgroundColor: '#EAE9E7'}">
  <div class="col">
    <label for='modifieTodo'>Modier Todo </label>
  </div>
  <div class="col">
    <input id='modifieTodo' type="text" [(ngModel)]="taskSelected.Todo" >
  </div>
  <div class="col">
    <label>Modier Priorité </label>
  </div>
  <div class="col">
    <select id="urgence-select2" [(ngModel)]="taskSelected.Urgence">
      <option value="faible">Faible</option>
      <option value="moyenne">Moyenne</option>
      <option value="haute">Haute</option>
    </select>
  </div>
  <div class="col">
    <label>Modier Descrition </label>
  </div>
  <div class="col">
    <textarea rows="3" cols="40" [(ngModel)]="taskSelected.Description"></textarea>
  </div>
  <div class="col">
    <button type="button" name="modifier" (click)="changeVariable()">Sauvegarder</button>
  </div>
</div>
