<h3 style="text-align: center;">Exercice 9</h3>
<div class="card" style="margin-bottom: 40px; background-color: #333; color: white;">
  <div class="card-body">
    <p>L’application doit afficher une grille modulaire de cartes.</p>
    <p>Vous ferez 4 composants : grid-view, row-item, col-item et card.</p>
    <p>On doit passer en paramètre le nombre de lignes et de colonnes voulues dans la grille. L’application se chargera de générer le bon nombre de lignes avec le bon nombre de colonnes à l’intérieur.</p>
    <p>Chaque cellule comportera une card définie en dur.</p>
  </div>
</div>

