<h3 style="text-align: center;">Exercice 8</h3>
<div class="card" style="margin-bottom: 40px; background-color: #333; color: white;">
  <div class="card-body">
    <p>Réalisez une application qui affiche la liste des catégories de figurines d’animaux (une photo, le nom de la catégorie, le nombre de figurines en stock).</p>
    <p>Un clique sur une catégorie affiche sous forme de card les figurines des animaux de la catégorie (photo, nom, nom scientifique, habitat, qlq informations).</p>
    <p>Un clique sur un animal affiche son détail : les informations ci-dessus plus d’autres.</p>
    <p>Utilisez l’archive mise à votre disposition qui contient des objets de description des animaux ainsi que les fichiers de leurs photos.</p>
  </div>
</div>


