<h3 style="text-align: center;">Exercice 6</h3>
<div class="card" style="margin-bottom: 40px; background-color: #333; color: white;">
  <div class="card-body">
    <p>Créer un tableau Bootstrap dynamique où les données proviennent d’un tableau d’individus (id, nom, mail).</p>
    <p>Les couleurs des textes des lignes doivent alterner (pair = rouge, impair = bleu).</p>
    <p>Le nom d’un utilisateur particulier de votre choix doit être précédé de "Monsieur/Madame".</p>
  </div>
</div>
<app-table-individu></app-table-individu>
