<h3 style="text-align: center;">Exercice 5</h3>
<div class="card" style="margin-bottom: 40px; background-color: #333; color: white;">
  <div class="card-body">
    <p>L’application consiste à créer un tableau en Bootstrap, vous prendrez le soin de découper votre tableau en un maximum
      de composants. Le tableau affichera 3 informations de voiture : id, marque, modèle. Vous intégrerez une 4ème colonne
       « action » qui affichera un bouton dans chaque ligne nommé « détails ». Le bouton permettra, au clique, d’afficher
       les détails de la voiture dans une « card » au-dessus du tableau.</p>
     <p>Vous utiliserez un tableau d’objets pour stocker vos voitures.</p>
     <p>Par défaut, la « card » affichera la voiture possédant l’id 0.</p>
  </div>
</div>

